@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

body {
    background: rgba(97, 255, 242, 0.356);
}

.container {
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grocery {
    width: 700px;
    height: 100vh;
    margin: auto;
    text-align: center;
    background: white;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.356);
}

.grocery .header {
    width: 50%;
    margin: auto;
    font-size: 50px;
    font-family: 'Kalam', cursive;
    border-bottom: 1px solid black;
}